<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruitshop.mapper.FruitSpecMapper">

    <resultMap id="FruitSpecResultMap" type="com.fruitshop.entity.FruitSpec">
        <id column="id" property="id"/>
        <result column="fruit_id" property="fruitId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <select id="findByFruitId" resultMap="FruitSpecResultMap">
        SELECT * FROM fruit_spec WHERE fruit_id = #{fruitId}
    </select>

    <select id="findById" resultMap="FruitSpecResultMap">
        SELECT * FROM fruit_spec WHERE id = #{id}
    </select>

    <update id="updateStock">
        UPDATE fruit_spec SET stock = stock - #{quantity} WHERE id = #{id} AND stock >= #{quantity}
    </update>

</mapper>
